<!DOCTYPE html>
<html>

    <head>
        <title>{{name}}</title>
        <meta charset="utf-8">
        <meta {{#each meta}}{{{this}}}{{/each}}>
            {{#each stylesheet}}
            <link rel="stylesheet" href="{{{this}}}"/>
        <link rel="stylesheet" href="../../../node_modules/html-template/node_modules/hyperglue/node_modules/domify/components/visionmedia-mocha/mocha.css" type="text/css">
        {{/each}}
        {{#each jsspripts}}
        <script type='text/javascript' src="{{{this}}}"></script>
        {{/each}}
    </head>
    <body>

        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>{{{heading}}}</h1></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Configure Devices
                                    <span class="caret"></span></button>
                                <ul id="deviceListHead" class="dropdown-menu">
                                    {{{device_list devices selected_devices}}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dropdown pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" href="#add_device_modal"> <span class="glyphicon glyphicon-plus"></span></button>

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div></div>
            </div>
        </div>

        <div class="container-fluid">
            <h2>Device Name</h2>
            <table id="deviceSettingsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Ip-Adress</th>
                        <th>Port</th>
                        <th>Connection-Status</th>
                        <th>Configured Color</th>
                    </tr>
                </thead>
                <tbody id="main_table_body">
                    {{{device_info_table selected_devices}}}
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <h2 id="test">
                Configure Color
            </h2>
            <div class="col-md-4">
                <input class="jscolor {onFineChange:'update(this)'} form-control" value="cc66ff">

            </div>
            <div class="col-md-4">
                <div id="colorRect" style="width:200px;height:20px;border:1px solid;"></div>
            </div>
        </div> 
        <!-- Modal -->
        <div class="modal fade" id="add_device_modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-plus"></span>Add Device</h4>
                    </div>
                    <div id="addDeviceFormModalBody" class="modal-body" style="padding:40px 50px;">
                        <fieldset>
                            <form id="addDeviceForm" class="form-horizontal" action="./add/">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="device_name">Device Name</label>  
                                    <div class="col-md-4">
                                        <input id="device_name" name="name" type="text" placeholder="" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="device_location">Device Location</label>  
                                    <div class="col-md-4">
                                        <input id="device_location" name="location" type="text" placeholder="" class="form-control input-md">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="device_network_name">Network Name / IP</label>  
                                    <div class="col-md-4">
                                        <input id="device_network_name" name="network_name" type="text" placeholder="" class="form-control input-md" required="">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="device_port">Device Port</label>  
                                    <div class="col-md-4">
                                        <input id="device_port" name="port" type="text" placeholder="3000" class="form-control input-md" required="">

                                    </div>
                                </div>


                            </form>

                            <!-- Button -->
                            <label class="col-md-4 control-label" for="addDeviceToDb"></label>
                            <div class="col-md-4">
                                <button id="submitButton" name="addDeviceToDb" class="btn btn-primary">Submit Settings</button>
                            </div>

                        </fieldset>
                    </div>

                </div> 
            </div>
            {{{local_script_import}}}
    </body>
</html>